<nav>
		<div class="nav-container">
				<a href="{% url 'articles:list' %}">Головна</a>
				<a href="{% url 'articles:create' %}">Створити статтю</a>


				<div class="nav-right">
						{% if user.is_authenticated %}
									Привіт, {{ user.username }} |
									<form method="post" action="{% url 'accounts:logout' %}">
											{% csrf_token %}
											<button type="submit">Вийти</button>
									</form>
								{% else %}
									<a href="{% url 'accounts:login' %}">Увійти</a> |
									<a href="{% url 'accounts:register' %}">Реєстрація</a>
						{% endif %}
				</div>
		</div>
</nav>